@import "primary";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ::selection {
    background-color: white /* Set your desired highlight color */;
    color: $color-primary /* Set the text color */;
  }
}
.tdm {
  color: $color-primary;
  font-size: larger;
  font-weight: 600;
}
.second-line {
  background-color: $color-primary;
  display: flex;
  justify-content: space-around;
  height: 2.4rem;
  font-weight: 600;
  color: $color-secondary;
  
}
.icons {
  font-size: larger;
  align-items: baseline;
  margin-right: 5px;
}
.second-line-first {
  display: flex;
  padding-top: 0.5rem;
}
.second-line-second {
  display: flex;
  padding-top: 0.5rem;
  margin-inline: 2rem;
}
.flex {
  display: flex;
  margin-top: 2px;
  position: relative;
  margin-inline: 2rem;
  font-size: medium;
  > .icons {
    position: relative;
  }
}
.mob {
  height: fit-content;
  width: 8rem;
  border-right: 2px solid gray;
}
.icon-phn {
  font-size: 1rem;
}
.icons1 {
  font-size: larger;
  margin-inline: 0.6rem;
}

.container {
  // height: 4rem;
}
.logo-header {
  width: 3rem;
  height: 3rem;
}
.logopng {
  font-size: 2rem;
}
.third-line {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-line-first {
  padding-right: 2%;
  > img {
    color: $color-primary;
    height: 50px;
    padding-bottom: 0.5rem;
  }
}
.third-line-second {
  padding-inline: 2rem;
  width: 50%;
  > form {
    > input {
      border: $color-primary 3px solid;
      border-radius: 5px;

      width: 95%;
    }
    width: 100%;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: $color-secondary;
  border-radius: 20px;
  overflow: hidden;
  width: 60%;
  border: 3px solid $color-primary;
  margin-right: 2%;

  .search-input {
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .search-button {
    background-color: $color-primary;
    border: none;
    color: #fff;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}
.third-line-third {
  > a {
    text-decoration: none;
    font-weight: 600;
    color: $color-primary;
  }
}
.navbar {
  height: 2.5rem;
  width: 100%;
  background-color: $color-primary;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 2rem;
  > .nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    > div {
      color: $color-secondary;
      position: relative;
      padding-inline: 1%;
      > i {
        position: absolute;
        padding-top: 3.4px;
      }
      &:hover {
        cursor: pointer;
        > i {
          transform: rotate(-90deg);
          transition: transform 0.3s ease;
        }
        .nav-item-container {
          display: block;
        }
      }
      &:not(:hover) {
        > i {
          transition: transform 0.3s ease;
          transform: rotate(0deg);
        }
      }
    }
  }
}
.nav-item-container {
  background-color: $color-secondary;
  color: $color-secondary;
  position: absolute;
  display: none;
  backdrop-filter: blur(10px);
  background-color: rgba(213, 39, 39, 0.5);
  width: max-content;
  border-radius: 0.5rem;
  .nav-item-container-item {
    display: flex;
    padding: 5px;
    > div {
      > div {
        padding: 0.7rem;
      }
    }
  }
}
Link{
  text-decoration: none;
}
.options{
  color: white;
  background-color: white;
}
.navbar2{
  display: none;
  background-color: $color-primary;
  position: sticky;
  z-index: 1;
  top: 0;
}
.navbar2-item{
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav2-click{
  display: none;
  padding: .8rem;
  >button{
    position: fixed;
    padding: .4rem;
    top: 0;
    right: 0;
    margin: .9rem;
    margin-top: 1.4rem;
    font-size: 1rem;
    color: red;
    z-index: 2;
  }
}
.nav2-img{
  >img{
    padding-left: 1rem;
    height: 3rem;
  }
}